@page "/Room/{roomName}"
@rendermode InteractiveServer
@implements IDisposable

@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.SignalR
@using Microsoft.AspNetCore.SignalR.Client
@using System.Text.Json
@using System.Security.Claims
@using WatchTogether3.Data

@inject IJSRuntime JS
@inject NavigationManager Navigation
@inject ApplicationDbContext DbContext
@inject AuthenticationStateProvider authState
@inject UserManager<ApplicationUser> userManager

<AuthorizeView>
    <p>Logged in as @User.UserName</p>
</AuthorizeView>

<PageTitle>Home</PageTitle>

<h1>@RoomData.Owner?.UserName 's room</h1>

Welcome to your new app.

<hr>

<InputFile OnChange="LoadFile" />
<InputText @bind-value="RoomData.VideoUrl" />

<p>progress: @progress</p>

@foreach(string video in RoomData.UploadedVideoUrls)
{
    <button @onclick="() => {RoomData.VideoUrl = video;}">@video</button>
    <br />
}

<br />
<br/>


<video width="320" height="240" id="video_comp" src="@RoomData.VideoUrl"
    onpause="OnPauseClick()"
    onplay="OnProceedClick()"
    onseeked="OnSeekClick()">
    <source src="@RoomData.VideoUrl" type="video/mp4">
    Your browser does not support the video tag.
</video>

<hr>

@if (User == RoomData.Owner)
{
    <button @onclick="RemoveRoom">Remove room</button>
}

<script>
    var UserActions = Object.freeze({
        PauseVideo: 0,
        ProceedVideo: 1,
        SeekVideo: 2
    });

    // DotNet reference holder
    var dnh = null;
    function setDotnetReference(dotnetRef) {
        dnh = dotnetRef;
    }

    function initVideo(time) {
        video.currentTime = time;
        video.setAttribute("controls", "");
    }


    function SendAction(action, ...args) {
        if (dnh == null)
            return;

        dnh.invokeMethodAsync('ReceiveAction', action, args);
    }


    var video = document.getElementById("video_comp");

    function PauseVideo(time) {
        video.pause();
        video.currentTime = time;
    }
    function OnPauseClick() {
        SendAction(UserActions.PauseVideo, video.currentTime);
    }


    function ProceedVideo() {
        video.play();
    }
    function OnProceedClick() {
        SendAction(UserActions.ProceedVideo);
    }


    function SeekVideo(time) {
        video.currentTime = time;
    }
    function OnSeekClick() {
        SendAction(UserActions.SeekVideo, video.currentTime);
    }
</script>

@code {
    //private string fileUrl { get; set; }

    private double progress;

    private HubConnection hub;

    private bool isActionReceivable = true;

    [Parameter]
    public string roomName { get; set; }

    private ApplicationUser User { get; set; }

    private Data.Room RoomData { get; set; }


    protected override void OnInitialized()
    {
        var claims = authState.GetAuthenticationStateAsync().Result.User;

        User = userManager.GetUserAsync(claims).Result;

        DbContext.ChangeTracker.Clear();
        if (RoomData is null && DbContext.Rooms.Find(roomName) is Data.Room room)
        {
            RoomData = room;
        }

        base.OnInitialized();
    }

    protected override void OnAfterRender(bool firstRender)
    {
        if (firstRender)
        {

            var lDotNetReference = DotNetObjectReference.Create(this);
            JS.InvokeVoidAsync("setDotnetReference", lDotNetReference);

            hub = new HubConnectionBuilder().WithUrl(Navigation.ToAbsoluteUri("/videohub")).Build();

            hub.On("PauseFromHub", (double time) =>
            {
                isActionReceivable = false;
                JS.InvokeVoidAsync("PauseVideo", time);
            });
            hub.On("ProceedFromHub", () =>
            {
                isActionReceivable = false;
                JS.InvokeVoidAsync("ProceedVideo");
            });
            hub.On("SeekFromHub", (double time) =>
            {
                isActionReceivable = false;
                JS.InvokeVoidAsync("SeekVideo", time);
            });
            hub.On("VideoChangedFromHub", (string url) =>
            {
                RoomData.VideoUrl = url;
                InvokeAsync(StateHasChanged);
            });

            hub.StartAsync().Wait();

            // Enter room
            hub.InvokeAsync("EnterRoom", roomName).Wait();

            JS.InvokeVoidAsync("initVideo", RoomData.CurrentTime);
            SendVideoPause(RoomData.CurrentTime);

            InvokeAsync(StateHasChanged);
        }

        base.OnAfterRender(firstRender);
    }

    [JSInvokable]
    public void ReceiveAction(UserActions2 actions, params JsonElement[] args)
    {
        if (isActionReceivable)
        {
            switch (actions)
            {
                case UserActions2.PauseVideo:
                    {
                        double time = args[0].GetDouble();
                        SendVideoPause(time);
                        break;
                    }
                case UserActions2.ProceedVideo:
                    {
                        SendVideoProceed();
                        break;
                    }
                case UserActions2.SeekVideo:
                    {
                        double time = args[0].GetDouble();
                        SendVideoSeek(time);
                        break;
                    }
            }
        }

        isActionReceivable = true;
    }

    private void SendVideoPause(double time)
    {
        if (hub is null)
            return;

        hub.SendAsync("Paused", roomName, time);

        RoomData.CurrentTime = time;
        RoomData.IsPlaying = false;
        DbContext.SaveChanges();
    }
    private void SendVideoProceed()
    {
        if (hub is null)
            return;

        hub.SendAsync("Proceeded", roomName);

        RoomData.LastPlayTime = DateTime.Now;
        RoomData.IsPlaying = true;
        DbContext.SaveChanges();
    }
    private void SendVideoSeek(double time)
    {
        if (hub is null)
            return;

        hub.SendAsync("Seeked", roomName, time);

        if (RoomData.IsPlaying)
        {
            RoomData.LastPlayTime = DateTime.Now;
        }
        RoomData.CurrentTime = time;
        DbContext.SaveChanges();
    }

    private async void LoadFile(InputFileChangeEventArgs e)
    {
        Stream fileData = e.File.OpenReadStream(long.MaxValue);

        FileStream fs = File.Create($"D:\\WatchTogether3_files\\{e.File.Name}");
        Task.Run(async () =>
        {
            while (fileData.Position < fileData.Length)
            {
                progress = (double)fileData.Position / fileData.Length * 100;
                InvokeAsync(StateHasChanged);

                await Task.Delay(100);
            }
        });

        await fileData.CopyToAsync(fs);

        fs.Close();
        fileData.Close();

        RoomData.VideoUrl = "api/Videos/get/" + e.File.Name;
        RoomData.UploadedVideoUrls.Add(RoomData.VideoUrl);
        //File.WriteAllText("CurrentVideoUrl.txt", fileUrl);
        DbContext.Rooms.Find(roomName)?.VideoUrl = RoomData.VideoUrl;
        DbContext.SaveChanges();

        hub.SendAsync("VideoChanged", roomName, RoomData.VideoUrl);

        await Task.Delay(100);

        await InvokeAsync(StateHasChanged);
    }

    private void RemoveRoom()
    {
        var room = DbContext.Rooms.Find(roomName);
        if (room is not null)
        {
            DbContext.Rooms.Remove(room);
            DbContext.SaveChanges();

            foreach(string videoUrl in room.UploadedVideoUrls)
            {
                var filePath = Path.Combine("D:\\WatchTogether3_files\\", Path.GetFileName(videoUrl));
                if (File.Exists(filePath))
                {
                    File.Delete(filePath);
                }
            }
        }
        Navigation.NavigateTo("/");
    }

    public void Dispose()
    {
        if (hub is not null)
        {
            hub.SendAsync("LeaveRoom", roomName);
            hub.StopAsync();
            hub = null;
        }
    }

    public enum UserActions2
    {
        PauseVideo,
        ProceedVideo,
        SeekVideo
    }
}